%p
  =link_to "Your player profile", @player.url 
%p
  -if @player
    =link_to "Request a match", @player.opponents_url
%p
  ="Your current ranking is: #{@current_ranking}"
%p
  ="You have #{@ranking_points} ranking points"
%p
  ="You have #{@number_of_match_requests} match requests"
