This is Dashbord and if you are not loged in you have no business here
%p
  =link_to "Player Profile", current_user.get_player.url 
%iframe(width = "600" height = "450" src = "https://www.google.com/maps/embed/v1/search?q=60172&key=AIzaSyClSV5omGiqN4Ma6L649FMp81MMD6M66G8")
