%p
  =link_to "Your player profile", @player.url 
%p
  =link_to "Request a match", opponents_path(id: @player.id)
%p
  ="Your current ranking is: #{@current_ranking}"
%p
  ="You have #{@ranking_points} ranking points"
%p
  ="You have #{@number_of_match_requests} match requests"
