%p
  %p
    %table.table.table-striped.table-hover
      %tr
        %th Player Name
        %th Points
        %th
      -@opponents.each do |o|
        %tr
          %td.span6
            =o.name
          %td
            =o.points
          %td
            %form(method = "post"){:action=>"#{match_requests_path(o.id)}"}
              =token_tag nil
              =hidden_field(:match_request, :to, value: o.id)
              %button.btn.btn-success
                Request a match
